<a href="https://colab.research.google.com/github/nicoelbert/vehicleroutingproblem/blob/main/vehicle_routing_solver.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Vehicle Routing Problem
vehicle routing problem on complete information using simmulated annealing

#Preparation

In [2]:
!git clone 'https://github.com/nicoelbert/vehicleroutingproblem'

Cloning into 'vehicleroutingproblem'...
remote: Enumerating objects: 71, done.
remote: Counting objects: 100% (71/71), done.
remote: Compressing objects: 100% (55/55), done.
remote: Total 71 (delta 34), reused 39 (delta 14), pack-reused 0
Unpacking objects: 100% (71/71), done.

In [3]:
#import packages
import pandas as pd

import sys
#import classes


!git pull
%cd vehicleroutingproblem

from classes import classes as cl

fatal: not a git repository (or any of the parent directories): .git
/content/vehicleroutingproblem

In [26]:
!git pull
!ls

remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (10/10), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 6 (delta 3), reused 6 (delta 3), pack-reused 0
Unpacking objects: 100% (6/6), done.
From https://github.com/nicoelbert/vehicleroutingproblem
   e98c194..ad3424c  main       -> origin/main
Updating e98c194..ad3424c
Fast-forward
 classes/classes.py | 11 ++++++-----
 1 file changed, 6 insertions(+), 5 deletions(-)
classes  original_data	README.md  vehicle_routing_solver.ipynb

##Data Import

In [27]:
#depot masterdata

#load Masterdata from csv
url = 'https://raw.githubusercontent.com/nicoelbert/vehicleroutingproblem/main/original_data/Depots.csv'
df_depots = pd.read_csv(url)


#load basetable
url = 'https://raw.githubusercontent.com/nicoelbert/vehicleroutingproblem/main/original_data/preparedJobs.csv'
df_jobs = pd.read_csv(url)


#next steps load data into classes
#create dictionary for each class
df_jobs.head()

                id    Werk  ... Werk_distance                    key
0  9007_9000356217  Embsen  ...     11.530054  Embsen_Freifall_97908
1  9007_9000344661  Embsen  ...     72.139821  Embsen_Freifall_97908
2  9007_9000324683  Embsen  ...     58.581374  Embsen_Freifall_97908
3  9007_9000277569  Embsen  ...    107.476042  Embsen_Freifall_97908
4  9007_9000261195  Embsen  ...     91.888749  Embsen_Freifall_97908

[5 rows x 23 columns]

In [34]:
#create and fill dict_depots

dict_depots = {}

for index, row in df_depots.iterrows():
  d = cl.Depot(row['Werk'],row['Werk_lon'],row['Werk_lat'])
  dict_depots[row['Werk']] = d

print("{} depots created".format(len(dict_depots)))

#create and fill plants from jobs
dict_plants = {}

plants_name_list = df_jobs['Werk'].unique() 

for pn in plants_name_list:
  row = df_jobs[df_jobs['Werk'] == pn].iloc[0]
  plant = cl.Plant(row.Werk,row.Werk_lat,row.Werk_lon)
  dict_plants[plant.name] = plant

print("{} plants created".format(len(dict_plants)))

15 depots created
8 plants created

##Backup

In [ ]:
#backup
"""
"Evaluation of Constructionsites"
print(len(df_jobs['plz'].unique()))
print(len(df_jobs['lon'].unique()))
print(len(df_jobs['lat'].unique()))
#print(len(df_jobs[['lon','lat']]()))

df_sites = df_jobs[['lon','lat']].copy()

print(df_sites.shape)

df_sites.drop_duplicates(inplace=True)


print(df_sites.shape)
k.key
"""